<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII</title>
    <script src="camera.js" defer></script>
	<script src="ascii.js" defer></script>
	<script src="app.js" defer></script>
    <style>
        #ascii {
            font-family: 'Courier New', 'Courier', monospace;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: -1.5px;
            text-align: center;
        }
        #button {
            margin: 20px auto;
            padding: 10px 20px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <pre id="ascii"></pre>
    <button id="button">start</button>
</body>
</html>